body, * {
    box-sizing: border-box;
}

body {
    display: flex;
}

body > div {
    flex: 1 2 auto;
}

.display {
    display: flex;
    border: 2px black solid;
    margin: 48px 0 64px;
    height: 80px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    background-color: white;
    font-size: 48px;
}

.row > div {
    background-color: white;
}

.row {
    flex: 1;
    display: flex;
    gap: 16px;
    margin: 24px 0;
    justify-content: space-between;
}

.container {
    flex: 0 1 450px;
    border: 2px solid black;
    padding: 0 24px 24px;
    background-color: rgb(75, 75, 75);
    border-radius: 12px;
}

.row button {
    text-align: center;
    font-size: 24px;
    flex: 1 1 30px;
    border: 2px solid black;
    padding: 6px 0;
}

.row div {
    flex: 1 1 auto;
}

.row button:active {
    background-color: #8d8d8d;
    border: 2px solid white;
}

.row .zero {
    flex: 3.6 1 auto;
}

.row .operator,
.row .equals,
.row .del,
.row .clear,
.row .decimal {
    background-color: #bdbdbd
}

.row .del,
.row .clear {
    color: rgb(216, 0, 0);
}