body, * {
    box-sizing: border-box;
}

body {
    display: flex;
}

body > div {
    flex: 1 2 auto;
}

.display {
    display: flex;
    border: 2px black solid;
    margin: 48px 0 64px;
    height: 80px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    background-color: white;
    font-size: 48px;
}

.row > div {
    background-color: white;
}

.row {
    flex: 1;
    display: flex;
    gap: 16px;
    margin: 24px 0;
}

.container {
    flex: 0 1 350px;
    border: 2px solid black;
    padding: 0 24px;
    background-color: rgb(75, 75, 75);
    border-radius: 12px;
}

.row button {
    text-align: center;
    font-size: 32px;
    flex: 1 1 50px;
    border: 2px solid black;
}

.row button:active {
    background-color: #8d8d8d;
    border: 2px solid white;
}